@model Appointments.Domain.Entities.Result

@{
    ViewBag.Title = "Details";
}

<h3>Appointment Result Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResultName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
