@{
    ViewBag.Title = "Home Page";
}

<div>
    <h4>ΤΑ ΡΑΝΤΕΒΟΥ ΜΟΥ ΣΗΜΕΡΑ</h4>
    <br />
    <div class="row">
        @{Html.RenderAction("_Appointment", "Report");}
    </div>
    @*<p></p>
    <h4>ΟΙ ΠΕΛΑΤΕΣ ΜΟΥ</h4>
    <div class="row">
        @{Html.RenderAction("_Client", "Report");}
    </div>*@
</div>